.divAttrSingle {
  font-family: 'Open Sans', sans-serif;
  margin: 25px;
  width: 40%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  color: white;
}

.divAttrSingle img {
  margin: 0 auto;
  width: 15%;
  //height: 80%;
}

.divAttrSingle .h1 {
  margin: 15px auto 0px;
  width: 80%;
  font-size: 24px;
  font-weight: 700;
}

.divAttrSingle .p {
  margin: 15px auto 0px;
  width: 80%;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}



.divQuotesSingle {
  font-family: 'Open Sans', sans-serif;
  margin: 5px;
  width: 25%;
  padding: 30px 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  color: white;
  background-color: hsl(210,28%,23%);
  border-radius: 10px;

}

.divQuotesSingle .p {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

.divQuotesSingle .block {
  margin-top: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.divQuotesSingle .block img {
  width: 15%;
  border-radius: 20px;
}

.divQuotesSingle .blockInner {
    margin-left: 10px;
}

.divQuotesSingle .h1Sm {
  font-size: 12px;
  font-weight: 400;
  text-align: left;
}

.divQuotesSingle .h2Sm {
  font-size: 10px;
  font-weight: 400;
  text-align: left;
}
